* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fddb3a;
}


.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Bangers', cursive;
    background-color: #ffe277;
    padding: 200px 50px;
    border-radius: 20px;
}

.title {
    font-size: 5rem;
    color: #6f4a8e;
    margin-bottom: 10px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.output {
    font-size: 4.5rem;
    font-family: 'Black Ops One', cursive;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    color: #363636;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    border: solid 1px;
    background-color: transparent;
    border-radius: 10px;
    border-color: #363636;
    outline: none;
    margin: 0 5px;
    transition: 300ms;
}

button:hover {
    color: #f4f6ff;
    background-color: #363636;
}